
body, html{
    overflow-x: hidden;
    width: 100vw;
}
#content_page{
    margin-top: 150px;
}
#content_in_carrousel_slide{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}
#content_contact_page{
    width: 100vw;
    margin-top: 100px;
    margin-bottom: 70px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
#content_organization_contact_page{
    width: 70vw;
}